site_name: Poor Math
site_url: https://poorMath.github.io/
site_author: poorMath

repo_name: poorMath
repo_url: https://github.com/Bazoka13/poorMath.github.io
edit_uri: ""
theme:
  name: material
  palette:
    primary: 'White'
    accent: 'Pink'
  features:
    - navigation.tabs
    - toc.integrate
  language: 'zh'
  favicon: 'https://cdn.jsdelivr.net/npm/oicdn@0.0.1/favicon.ico'
  icon:
    logo: material/school
  font:
    text: 'Fira Sans'
    code: 'Fira Mono'
  

markdown_extensions:
  - admonition
  - codehilite:
      guess_lang: false
      linenums: true
  - def_list
  - footnotes
  - meta
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:pymdownx.emoji.to_svg
  - pymdownx.highlight:
      linenums: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.progressbar
  - pymdownx.smartsymbols
  - pymdownx.superfences:
      custom_fences:
        - name: math
          class: arithmatex
          format: !!python/name:pymdownx.arithmatex.fence_mathjax_format
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

extra_javascript:
  - 'js/extra.js'
  - 'https://polyfill.io/v3/polyfill.min.js?features=es6'
  - 'https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js'

nav:
  - 首页: index.md
  - 比赛记录: 
    - WA on test 998244353: contest/WA on test 998244353.md
    - 比赛模板: contest/template.md
  - 知识点: contest/WA on test 998244353.md
  - YZW: contest/WA on test 998244353.md
  - JLK: contest/WA on test 998244353.md
  - TYB: contest/WA on test 998244353.md
  - 杂项:contest/WA on test 998244353.md
    